{% load filters %}<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<title>{{ self.title }}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">{% if self.keywords %}
		<meta name="keywords" content="{{ self.keywords }}">{% endif %}{% if self.description %}
		<meta name="description" content="{{ self.description }}">{% endif %}
		<link rel="stylesheet" type="text/css" href="/___yui___cssfonts_cssfonts__cssreset_cssreset__cssbase_cssbase__cssgrids_grids___local___default.css">
	</head>
	<body class="yui3-skin-sam {{ self.classes|joinby:" " }}">
		<div class="user-bar">{% if user %}<a href="{{ self.logout_url }}">Sign out</a>{% else %}<a href="{{ self.login_url }}">Sign in</a>{% endif %}</div>
		<div class="hd">
			<h1 class="site-header main"><a href="/">{{ CONSTANTS.SITE_HEADER }}</a></h1>
			<h2 class="site-header sub"><a href="/">{{ CONSTANTS.SITE_SUB_HEADER }}</a></h2>
		</div>
		{{ self|view:"GLOBAL, topnav, Navigation, nth_level_only, 0, horizontal"|safe }}
		<div class="bd yui3-g">
			<div class="sd yui3-u-1-6">{{ self|view:"GLOBAL, sidenav, Navigation, expanding_hierarchy, 1, vertical"|safe }}</div>
			<div class="mn yui3-u-5-6">{{ main|safe }}</div>
		</div>
		<div class="ft">
			{{ self|view:"GLOBAL, footer, Text, default"|safe }}
		</div>
		{% if user %}
			<div class="slingbar user">
				Welcome {{ user.email }}
				{% if is_admin %}
					<div class="admin">
						<h2>Navigation Administration</h2>
						<ul>
							<li><a href="/{{ self.path }}/navigation/edit">Edit this section</a></li>
							<li><a href="/{{ self.path }}/navigation/create">Create new section</a></li>
							{% if self.has_siblings %}<li><a href="/{{ self.path }}/navigation/reorder">Reorder section</a></li>{% endif %}
							<li><a href="/{{ self.path }}/navigation/manage">Manage sections</a></li> 
						</ul>
					</div>
				{% endif %}
			</div>
		{% endif %}
	</body>
</html>