h1, h2, h3, h4, h5, h6 {
	background-color: #EBEFF9;
	padding: 0.2em;
	border-top: 1px solid #6B90DA;
}
.slingbar {
	font-size: 80%;
	background-color: #FFFADB;
	margin-top: 1em;
	padding: 1em;
	border: 1px solid black;
}
.slingbar h2 {
	background: none;
	border: none;
	padding: 0;
}
input {
	margin: 0.5em 0;
	padding: 0.5em;
	display: block;
}
.status {
	margin: 1em 0;
	padding: 1em;
	text-align: center;
}
.error {
	color: #B51800;
	border: 2px solid #B51800;
	background-color: #FFA496;
}
.progress {
	color: #216600;
	border: 2px solid #216600;
	background-color: #D6FFC1;
}