.hd {
	background: url(/theme/images/sprite.png) 0 12px no-repeat;
	margin: 0.5em 0.95em 0 0.95em;
}
.ft {
	text-align: center;
	padding: 0 0.8em;
}

/* http://yuiblog.com/sandbox/yui/3.2.0pr1/examples/cssgrids/cssgrids-fluid.html */

.bd {
	margin: 0.8em;
    padding-left: 250px; /* "left col" width */ 
}
.sd {
    margin-left: -250px; /* "left col" width */
    width: 230px;
    margin-right: 20px;
}
.mn {
	width: 100%;
}