h1, h2, h3, h4, h5, h6 {
	padding: 0.2em;
	background-color: #EBEFF9;
	border-top: 1px solid #6B90DA;
}
a {
	color: #0000CC;
}
.user-bar {
	text-align: right;
	border-bottom: 1px solid #C9D7F1;
	padding: 0.3em 0.5em;
}
.site-header {
	background: none;
	border: none;
	margin: 0;
	padding: 0;
	font-weight: normal;
	min-width: 450px;
}
.site-header a {
	color: #666;
	text-decoration: none;
	font-size: 215%;
	font-weight: normal;
	padding-left: 57px;
	outline: none;
}
.site-header.sub a {
	font-size: 80%;
	color: #444;
	margin: 0;
}
.hd {
	background: url(/theme/images/sprite.png) 0 12px no-repeat;
	margin: 0.5em 0.95em 0 0.95em;
}
.bd {
	margin: 0.8em;
}
.ft {
	text-align: center;
}
input, select, textarea {
	margin: 0.5em 0;
	padding: 0.5em;
	display: block;
}
.status {
	margin: 1em 0;
	padding: 1em;
	text-align: center;
	font-weight: bold;
}
.error {
	color: #B51800;
	border: 2px solid #B51800;
	background-color: #FFA496;
}
.progress {
	color: #216600;
	border: 2px solid #216600;
	background-color: #D6FFC1;
}
.traceback {
	text-align: left;
	color: black;
	background-color: #FFFADB;
	padding: 1em;
	margin: 1em 0;
	border: 1px solid black;
}