.nav-dropdown {
	clear: both;
	margin: 0.5em 0;
	height: 2em;
	visibility: hidden; /* Prevent flicker on load, javascript will make visible when ready */
}
.nav-dropdown .yui3-menu {
	visibility: hidden; /* Prevent flicker on load, javascript will make visible when ready */
}
.yui3-skin-sam .nav-dropdown.yui3-splitbuttonnav .yui3-menuitem-content {
	cursor: pointer;
}