ul.content.permissions {
	margin: 0.5em 0;
	padding: 0.5em 0;
	list-style: none;
	text-align: left;
	border-top: 1px solid #38B214;
	border-bottom: 1px solid #38B214;
	background: #DAFFD3;
}

ul.content.permissions li {
	display: inline;
}

ul.content.permissions li ul {
	display: none;
	margin: 0.5em 0;
}

ul.content.permissions a {
	text-decoration: none;
	padding: 0.5em;
	color: black;
	font-weight: bold;
}

ul.content.permissions li ul a {
	display: block;
}

ul.content.permissions li:hover ul {
	display: block;
	position: absolute;
}

ul.content.permissions li:hover li {
	float: none;
}

ul.content.permissions li:hover a {
	background: #B0EFA0;
	border-top: 1px solid #38B214;
}

ul.content.permissions li:hover li a:hover {
	background: #DAFFD3;
}